API_ID=36765161
API_HASH=02c6d883c02c14875398251a205644e3
BOT_TOKEN=8508249286:AAEdyEdTyPqPEovAXrZukuZ0idfXIAmnOfE
LOGGER_ID=-1003564396999
MONGO_DB_URI=mongodb+srv://radharvexbot:Radha9801@cluster0.oagvbgi.mongodb.net/?appName=Cluster0
OWNER_ID=8014369443
STRING_SESSION=BQIw_ekABPzFcAMH6FRtE1-ldHQQWccT9YQA6HZyd-muHzWLv6sqhN-iV_VmceAuNYRQvbxS3GjieUsEK7LtXQetnMSagjLOuVgjrWcbLniygifj5udnr6qIDxU0nkrnqCD4I3TFQeKLHo3Ftcm5f6T-rzVKHb30pge2lYDQL3EZDj4XYTkRjKs2A61BWNJ5m_MlD66I8Ew8mk-aY1Wd2IRlm7cQkvGiCQfEAiqziPFZnrzvcBXg7Gl4oRWHv9-4_ulykenf2SWRfVbzTtg2A0pe-KJ1gY9EbN-BJ7upGz2KJC3UQ_Gsh3FqytuJi6ah58TZt9TAU_Z5L87zUit_BKiPtjYhqwAAAAIE6z1FAA
